<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %d [%t] [event: %X{correlationId}] %c: %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<AsyncRoot level="INFO">
			<AppenderRef ref="Console"/>
		</AsyncRoot>
	</Loggers>
</Configuration>
